<!-- Hero Start -->
        
<section class="bg-half-100 bg-primary d-table w-100" style="background: url('./images/creative_bulb/bulb_creative_7.jpg') center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-7 col-md-7 text-center">
                <!-- <img src="./images/marketing/marketing.png" class="img-fluid" style="max-height: 400px" alt=""> -->

                    <div class="title-heading text-center mt-4">
                    <h1 class="heading mb-3 text-white">Content Marketing is the Best Ever</h1>
                    <p class="para-desc text-white">At Onella soft , a leading digital marketing company in Pune, content marketing and SEO go hand-in-glove. A robust content marketing plan must be based on a sound SEO foundation. Content marketing encompasses the creation and dissemination of content assets. Content assets like blogs, e-books, guides, infographics, interactive tools, videos, website content , newspaper article etc</p>
                    <div class="mt-4 pt-2">
                        <a [routerLink]="['/home']" class="btn btn-pills btn-primary m-1">Get Started</a>
                    </div>
                </div>
            </div>
        </div><!--end row-->
        <div class="position-breadcrumb">
            <nav aria-label="breadcrumb" class="d-inline-block">
                <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Content Marketing</li>
                </ul>
            </nav>
        </div>
    </div><!--end container--> 
</section><!--end section-->
        <!-- Hero End -->

<!-- Partners start -->
<section class="py-4 border-bottom border-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="./images/client/amazon.svg" class="avatar avatar-ex-sm" alt="">
            </div><!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="./images/client/google.svg" class="avatar avatar-ex-sm" alt="">
            </div><!--end col-->
            
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="./images/client/lenovo.svg" class="avatar avatar-ex-sm" alt="">
            </div><!--end col-->
            
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="./images/client/paypal.svg" class="avatar avatar-ex-sm" alt="">
            </div><!--end col-->
            
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="./images/client/shopify.svg" class="avatar avatar-ex-sm" alt="">
            </div><!--end col-->
            
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="./images/client/spotify.svg" class="avatar avatar-ex-sm" alt="">
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Partners End -->

<!-- Feature Start -->
<section class="section bg-light">
    


    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="me-lg-5">
                    <img src="./images/services/service_12.jpg" class="rounded img-fluid mx-auto d-block" alt="">
                </div>
            </div><!--end col-->

            <div class="col-md-6">
                <div class="section-title ms-lg-5">
                    <h4 class="title mb-4">Social Media Content</h4>
                    <p class="text-muted">From engaging captions to compelling ad copy, we create social media content that sparks conversations, drives engagement, and expands your brand's online presence.</p>
                    <ul class="list-unstyled text-muted">
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>graphics, or illustrations used to visually enhance content and engage audiences</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Short-form or long-form videos used for storytelling</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>We provide a well-defined content strategy ensures consistency, relevance to user </li>
                    </ul>
                    <a [routerLink]="['/contactus']" class="mt-3 h6 text-primary">Get Started <i class="uil uil-angle-right-b"></i></a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->


    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            
            <div class="col-md-6">
                <div class="section-title ms-lg-5">
                    <h4 class="title mb-4">Blog Writing Services</h4>
                    <p class="text-muted">Regular blog posts are essential for driving traffic, improving SEO, and establishing your brand as a thought leader. We research trending topics and craft shareable blog content.</p>
                    <ul class="list-unstyled text-muted">
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Keyword Research & Competitor Analysis</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Content Planning & Outline </li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>We deliver high-quality SEO-optimized blogs with the right title, description, headings</li>
                    </ul>
                    <a [routerLink]="['/contactus']" class="mt-3 h6 text-primary">Get Started <i class="uil uil-angle-right-b"></i></a>
                </div>
            </div><!--end col-->
            <div class="col-md-6">
                <div class="me-lg-5">
                    <img src="./images/services/service_13.jpg" class="rounded img-fluid mx-auto d-block" alt="">
                </div>
            </div><!--end col-->

        </div><!--end row-->
    </div><!--end container-->



    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="me-lg-5">
                    <img src="./images/services/service_14.jpg" class="rounded img-fluid mx-auto d-block" alt="">
                </div>
            </div><!--end col-->

            <div class="col-md-6">
                <div class="section-title ms-lg-5">
                    <h4 class="title mb-4">SEO Content Writing</h4>
                    <p class="text-muted">We go beyond just keywords. Our SEO content writing strategy focuses on creating, high-quality content that satisfies user intent and Matches to the latest search engine algorithms. We conduct thorough keyword research and competitor analysis to ensure your content rank on google first page .</p>
                    <ul class="list-unstyled text-muted">
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>The goal is to improve a website's ranking in search engine results pages</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Optimized content attracts more users from organic search</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Well-written SEO content can attract leads and convert them into customers</li>
                    </ul>
                    <a [routerLink]="['/contactus']" class="mt-3 h6 text-primary">Get Started <i class="uil uil-angle-right-b"></i></a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->


        <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            
            <div class="col-md-6">
                <div class="section-title ms-lg-5">
                    <h4 class="title mb-4">Website Content Writing</h4>
                    <p class="text-muted">Your website is your digital storefront. We create captivating and informative website copy that effectively communicates your brand story, products, and services, encouraging visitors to take action after vising your website.</p>
                    <ul class="list-unstyled text-muted">
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>clear, simple, and effective content</li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Landing Pages strategies </li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>We provide professional content writing services , SEO content, and translation services for effective communication, maximum reach</li>
                    </ul>
                    <a [routerLink]="['/contactus']" class="mt-3 h6 text-primary">Get Started <i class="uil uil-angle-right-b"></i></a>
                </div>
            </div><!--end col-->
            <div class="col-md-6">
                <div class="me-lg-5">
                    <img src="./images/services/service_4.jpg" class="rounded img-fluid mx-auto d-block" alt="">
                </div>
            </div><!--end col-->

        </div><!--end row-->
    </div><!--end container-->
</section>