<!-- Hero Start -->
        <section class="bg-half-170 d-table w-100" style="background: url('./images/creative_bulb/bulb_creative_6.jpg');background-position: center;">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="pages-heading">
                            <h4 class="title mb-0 text-white"> Company Overview </h4>
                        </div>
                    </div>  <!--end col-->
                </div><!--end row-->
                
                <div class="position-breadcrumb">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                            <li class="breadcrumb-item"><a [routerLink]="['/home']" >Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Company Overview</li>
                        </ul>
                    </nav>
                </div>
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-color-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->

        <!-- About Start -->
        <section class="section pb-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="position-relative">
                            <img src="./images/creative_bulb/bulb_creative_1.jpg" class="rounded img-fluid mx-auto d-block" alt="">
                            <!-- <div class="play-icon">
                                <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn lightbox border-0">
                                    <i class="mdi mdi-play text-primary rounded-circle shadow"></i>
                                </a>
                            </div> -->
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="section-title ms-lg-4">
                            <h4 class="title mb-4">Our Vision </h4>
                            <p class="text-muted">At Onella Soft, we position ourselves as a reliable and innovative digital marketing and development agency, empowering businesses with customized solutions that drive measurable growth, engagement, and visibility. Our expertise in evolving digital trends ensures every strategy aligns with long-term business goals.</p>
                            <p class="text-muted">Our mission is to partner with entrepreneurs and enterprises through strategic thinking, transparent communication, and a performance-focused approach that fosters sustainable success.</p>
                            <a [routerLink]="['/contactus']" class="btn btn-primary mt-3">Get in Touch <i class="uil uil-angle-right-b"></i></a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>

            <!-- About Start -->
        <section class="section mb-0">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="section-title ms-lg-4">
                            <h4 class="title mb-4">Our Mission</h4>
                            <p class="text-muted">At Onella Soft, our mission is to be a value-driven digital partner, empowering brands through expert digital marketing and development services. We go beyond execution by delivering strategic insight and innovative solutions that align with our clients’ core business goals.</p>
                            <p class="text-muted">With deep industry expertise, we help businesses confidently navigate the digital landscape—building lasting partnerships based on trust, measurable outcomes, and shared success.</p>
                            <a [routerLink]="['/contactus']" class="btn btn-primary mt-3">Work With Us <i class="uil uil-angle-right-b"></i></a>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="position-relative">
                            <img src="./images/creative_bulb/bulb_creative_2.jpg" class="rounded img-fluid mx-auto d-block" alt="">
                            <!-- <div class="play-icon">
                                <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn lightbox border-0">
                                    <i class="mdi mdi-play text-primary rounded-circle shadow"></i>
                                </a>
                            </div> -->
                        </div>
                    </div><!--end col-->

                    
                </div><!--end row-->
            </div><!--end container-->
        </section>

           
            


            <!-- About Start -->
        <section class="section">
            <!-- Features Start -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">Industries We Serve</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">Start working with <span class="text-primary fw-bold">Onella Soft</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card bg-light rounded shadow border-0">
                            <div class="card-body py-3">
                                <i class="uil uil-shopping-cart h2 text-primary"></i>
                                <div class="mt-2">
                                    <h5 class="card-title">E-commerce</h5>
                                    <p class="text-muted my-3">Empowering online businesses with scalable, secure, and conversion-focused digital solutions.</p>
                                    <a [routerLink]="['/e-commerce']" class="mt-3 h6 text-primary">Boost Store Now<i class="uil uil-angle-right-b"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card bg-light rounded shadow border-0">
                            <div class="card-body py-3">
                                <i class="uil uil-building h2 text-primary"></i>
                                <div class="mt-2">
                                    <h5 class="card-title">Real Estate</h5>
                                    <p class="text-muted my-3">Transforming property engagement through digital platforms, lead generation, and automation.</p>
                                    <a [routerLink]="['/real-estate']" class="mt-3 h6 text-primary">Digitize Property <i class="uil uil-angle-right-b"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card bg-light rounded shadow border-0">
                            <div class="card-body py-3">
                                <i class="uil uil-book-reader h2 text-primary"></i>
                                <div class="mt-2">
                                    <h5 class="card-title">Education</h5>
                                    <p class="text-muted my-3">Enabling learning platforms with intuitive design, content delivery, accessibility, interactivity, and scalability.</p>
                                    <a [routerLink]="['/education']" class="mt-3 h6 text-primary">Build Learning Platform <i class="uil uil-angle-right-b"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card bg-light rounded shadow border-0">
                            <div class="card-body py-3">
                                <i class="uil uil-heart-medical h2 text-primary"></i>
                                <div class="mt-2">
                                    <h5 class="card-title">Healthcare</h5>
                                    <p class="text-muted my-3">Digitizing healthcare experiences with secure, user-centric, and compliant digital solutions.</p>
                                    <a [routerLink]="['/healthcare']" class="mt-3 h6 text-primary">Transform Engagement <i class="uil uil-angle-right-b"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <!-- Features End -->
        </section>