
        <!-- Navbar Start -->
        <header id="topnav" class="defaultscroll sticky" [ngClass]="isScrolled ? 'scrolled' : 'sticky'">
            <div class="container">
                <!-- Logo container-->
                <a class="logo" href="index.html">
                    <img src="./images/onella-soft-logo.png" height="70" class="logo-light-mode" alt="">
                    <img src="./images/onella-soft-logo.png" height="70" class="logo-dark-mode" alt="">
                </a>                
                <!-- Logo End -->

                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle" id="isToggle" (click)="toggleMenu()">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

                <div id="navigation" [ngClass]="showMenu == true ? 'd-block' : 'none'">
                    <!-- Navigation Menu-->   
                    <ul class="navigation-menu">
                        <li><a [routerLink]="['/home']" class="sub-menu-item">Home</a></li>

                        <li class="has-submenu parent-parent-menu-item">
                            <a (click)="showAboutMenu()">About</a><span class="menu-arrow"></span>
                            <ul class="submenu" [ngClass]="showAboutSubmenu == true ? 'open' : 'none'">
                                <li><a [routerLink]="['/about']" class="sub-menu-item">About Us </a></li>
                                <li><a [routerLink]="['/overview']" class="sub-menu-item">Hospital Overview </a></li>
                                <!-- <li><a [routerLink]="['/team']" class="sub-menu-item">Our Team </a></li>
                                <li><a [routerLink]="['/our-journey']" class="sub-menu-item">Our Journey </a></li> -->
                                <li><a [routerLink]="['/career']" class="sub-menu-item">Our Team </a></li>
                            </ul>
                        </li>


                        <li class="has-submenu parent-parent-menu-item">
    <a (click)="showshowIndustries()">Services</a><span class="menu-arrow"></span>
    <ul class="submenu">
        <li><a [routerLink]="['/type-diabetes']" class="sub-menu-item">Type 1 & Type 2 Diabetes Management</a></li>
        <li><a [routerLink]="['/thyroid']" class="sub-menu-item">Thyroid Disorder</a></li>
        <li><a [routerLink]="['/retinopathy']" class="sub-menu-item">Retinopathy</a></li>
        <li><a [routerLink]="['/nephropathy']" class="sub-menu-item">Nephropathy</a></li>
        <li><a [routerLink]="['/diet']" class="sub-menu-item">Diabetes Diet</a></li>
    </ul>
</li>

                        <li><a [routerLink]="['/blog']" class="sub-menu-item">Events</a></li>
                        <!-- <li class="has-submenu parent-parent-menu-item">
                            <a href="javascript:void(0)">Strategies</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a [routerLink]="['/success-stories']" class="sub-menu-item">Success Stories</a></li>
                                <li><a class="sub-menu-item">Case Studies</a></li>
                                <li><a [routerLink]="['/blog']" class="sub-menu-item">Blog </a></li>
                            </ul>
                        </li> -->
                        <li><a [routerLink]="['/contactus']" class="sub-menu-item">Support</a></li>
                    </ul><!--end navigation menu-->
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->

        <!-- Your existing header content -->

<!-- Scroll to top button -->
<!-- <button *ngIf="showScrollButton" 
        (click)="scrollToTop()" 
        class="btn btn-primary scroll-button">
        <i class="uil uil-angle-top-b"></i>
</button> -->


<a *ngIf="showScrollButton" (click)="scrollToTop()" id="back-to-top" class="back-to-top fs-5 scroll-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up fea icon-sm icons align-middle"><line x1="12" y1="19" x2="12" y2="5"></line><polyline points="5 12 12 5 19 12"></polyline></svg>
</a>