<!-- Hero Start -->
<section class="bg-half-170 bg-light d-table w-100">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="pages-heading">
                    <h4 class="title mb-0"> Blog </h4>
                </div>
            </div> <!--end col-->
        </div><!--end row-->

        <div class="position-breadcrumb">
            <nav aria-label="breadcrumb" class="d-inline-block">
                <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">ONELLASOFT</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Blog Grid</li>
                </ul>
            </nav>
        </div>
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-color-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->

<!-- Blog STart -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 pb-2">
                <div class="card blog blog-primary rounded border-0 shadow overflow-hidden"
                    [routerLink]="['/industrial-marketing-power']" style="cursor: pointer;">
                    <div class="position-relative">
                        <img src="./images/blog/blog1.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content">
                        <h5><a href="javascript:void(0)" class="card-title title text-dark">4 Reasons Why Digital
                                Marketing For Industrial Products Is So Powerful</a></h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <a [routerLink]="['/industrial-marketing-power']" class="text-muted readmore">Read More <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->



            <div class="col-lg-4 col-md-6 mb-4 pb-2">
                <div class="card blog blog-primary rounded border-0 shadow overflow-hidden" [routerLink]="['/ai-tools']"
                    style="cursor: pointer;">
                    <div class="position-relative">
                        <img src="./images/blog/blog2.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content">
                        <h5><a href="javascript:void(0)" class="card-title title text-dark">Unleashing the Power of AI:
                                The Best AI Tools for Digital
                                Marketing in 2025</a></h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            
                            <a  class="text-muted readmore">Read More <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div><!--end col-->




            <div class="col-lg-4 col-md-6 mb-4 pb-2">
                <div class="card blog blog-primary rounded border-0 shadow overflow-hidden"
                    [routerLink]="['/healthcare-social-media']" style="cursor: pointer;">
                    <div class="position-relative">
                        <img src="./images/blog/blog3.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content">
                        <h5><a href="javascript:void(0)" class="card-title title text-dark">4 Best Practices to Elevate
                                Your Healthcare Marketing with
                                Social Media</a></h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                           
                            <a  class="text-muted readmore">Read More <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div><!--end col-->




            <div class="col-lg-4 col-md-6 mb-4 pb-2">
                <div class="card blog blog-primary rounded border-0 shadow overflow-hidden" [routerLink]="['/gpt4o']"
                    style="cursor: pointer;">
                    <div class="position-relative">
                        <img src="./images/blog/blog4.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content">
                        <h5><a href="javascript:void(0)" class="card-title title text-dark">Chat GPT-4o: OpenAI's
                                Next-Generation AI</a></h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            
                            <a  class="text-muted readmore">Read More <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div><!--end col-->




            <div class="col-lg-4 col-md-6 mb-4 pb-2">
                <div class="card blog blog-primary rounded border-0 shadow overflow-hidden"
                    [routerLink]="['/healthcare-industry']" style="cursor: pointer;">
                    <div class="position-relative">
                        <img src="./images/blog/blog5.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content">
                        <h5><a href="javascript:void(0)" class="card-title title text-dark">How Digital Marketing is
                                Revolutionizing the Healthcare
                                Industry</a></h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                           
                            <a  class="text-muted readmore">Read More <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div><!--end col-->




            <div class="col-lg-4 col-md-6 mb-4 pb-2">
                <div class="card blog blog-primary rounded border-0 shadow overflow-hidden"
                    [routerLink]="['/e-commerce-business']" style="cursor: pointer;">
                    <div class="position-relative">
                        <img src="./images/blog/blog6.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content">
                        <h5><a href="javascript:void(0)" class="card-title title text-dark">How Digital Marketing Fuels
                                Your E-commerce Business</a></h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            
                            <a  class="text-muted readmore">Read More <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div><!--end col-->




            <div class="col-lg-4 col-md-6 mb-4 pb-2">
                <div class="card blog blog-primary rounded border-0 shadow overflow-hidden"
                    [routerLink]="['/website-dream-team']" style="cursor: pointer;">
                    <div class="position-relative">
                        <img src="./images/blog/blog7.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content">
                        <h5><a href="javascript:void(0)" class="card-title title text-dark">Why SEO & UX Are Your
                                Website's Dream Team</a></h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                           
                            <a  class="text-muted readmore">Read More <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div><!--end col-->



            <div class="col-lg-4 col-md-6 mb-4 pb-2">
                <div class="card blog blog-primary rounded border-0 shadow overflow-hidden"
                    [routerLink]="['/professional-product-photography']" style="cursor: pointer;">
                    <div class="position-relative">
                        <img src="./images/blog/blog8.jpg" class="card-img-top" alt="...">
                        <div class="overlay rounded-top"></div>
                    </div>
                    <div class="card-body content">
                        <h5><a href="javascript:void(0)" class="card-title title text-dark">The Power of Professional
                                Product Photography: Sell More,
                                Look Better!</a></h5>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            
                            <a  class="text-muted readmore">Read More <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Blog End -->