

<!-- Hero Start - E-commerce Version -->
<section class="bg-half-170 d-table w-100 bg-primary-gradient" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <div class="title-heading mt-4">
                    <h1 class="heading text-white mb-3"><span class="text-dark">Top E-commerce Marketing Agency in India</span></h1>
                    <p class="para-desc text-dark">Success in today's competitive e-commerce marketplace requires more than simply excellent goods, regardless of whether you're a local organic store or a global company.</p>
                    <div class="mt-4 pt-2">
                        <a [routerLink]="['/contactus']" class="btn btn-light rounded-pill me-2"><i class="uil uil-shopping-cart me-1"></i> Get Started</a>
                        <a [routerLink]="['/about']" class="btn btn-outline-light rounded-pill"><i class="uil uil-chart-line me-1"></i> Explore More</a>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-6 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <img src="./images/Industries/e-com1.jpg" class="img-fluid rounded shadow-lg" alt="E-commerce Marketing">
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Client Logos Start - E-commerce Version -->
<!-- This section can be kept as is or customized with your client logos -->
<section class="py-4 border-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="https://via.placeholder.com/150x60?text=Shopify" class="img-fluid opacity-75" alt="Shopify">
            </div><!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="https://via.placeholder.com/150x60?text=WooCommerce" class="img-fluid opacity-75" alt="WooCommerce">
            </div><!--end col-->
            
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="https://via.placeholder.com/150x60?text=Magento" class="img-fluid opacity-75" alt="Magento">
            </div><!--end col-->
            
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="https://via.placeholder.com/150x60?text=BigCommerce" class="img-fluid opacity-75" alt="BigCommerce">
            </div><!--end col-->
            
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="https://via.placeholder.com/150x60?text=Square" class="img-fluid opacity-75" alt="Square">
            </div><!--end col-->
            
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="https://via.placeholder.com/150x60?text=Amazon" class="img-fluid opacity-75" alt="Amazon">
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Client Logos End -->

<!-- Info Section 1 Start - E-commerce Version -->
<section class="section" id="services">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="position-relative">
                    <img src="./images/Industries/e-com2.jpg" class="img-fluid rounded shadow" alt="E-commerce Solutions">

                </div>
            </div><!--end col-->

            <div class="col-lg-6 mt-4 pt-2 mt-lg-0 pt-lg-0">
                <div class="section-title ms-lg-4">
                    <h4 class="title mb-4">Onella soft Grow your E-commerce Business Through Digital Marketing</h4>
                    <p class="text-muted">At Onella soft we are more than just a digital marketing agency; we are architects of e-commerce growth. In today's dynamic online marketplace, simply having a product isn't enough. You need to be seen, heard, and trusted. We specialize in crafting bespoke digital strategies.</p>
                    
                    
                    <div class="mt-4 pt-2">
                        <a [routerLink]="['/contactus']" class="btn btn-primary">Let's Grow Your Business</a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Info Section 1 End -->

<!-- Info Section 2 Start - Our Story & Vision -->
<section class="section bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 order-1 order-md-2">
                <div class="card shadow rounded border-0">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="./images/Industries/e-com3.jpg" class="img-fluid rounded" alt="Our Vision">
                        </div>
                        <div class="mt-4 text-center">
                            <h5 class="mb-0">Our Story & Vision</h5>
                            <p class="text-muted mb-0">Empowering e-commerce businesses of all sizes</p>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">Our Vision for Your <br> E-commerce Success</h4>
                    <p class="text-muted">We have deep understanding of the challenges and opportunities within the e-commerce landscape. We witnessed firsthand the struggles businesses faced in cutting through the digital noise and recognized the critical need for a holistic, results-driven approach to online marketing. Our vision is simple yet profound: to be the trusted partner that empowers e-commerce businesses of all sizes – from budding startups to established enterprises</p>    
                    <div class="mt-4">
                        <a [routerLink]="['/contactus']" class="btn btn-outline-primary">Start Your Journey With Us <i class="uil uil-arrow-right"></i></a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Info Section 2 End -->

<!-- How It Works Start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <span class="badge rounded-pill bg-soft-primary">Our Process</span>
                    <h4 class="title mt-3 mb-4">How It Works</h4>
                    <p class="text-muted para-desc mb-0 mx-auto">Let's make your e-commerce business dream a reality with our proven process</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-md-4 mt-5 pt-4">
                <div class="features feature-primary text-center">
                    <div class="image position-relative d-inline-block">
                        <span class="bg-soft-primary rounded shadow text-primary display-4 p-3">
                            <i class="uil uil-clipboard-notes"></i>
                        </span>
                    </div>

                    <div class="content mt-4">
                        <h5>Developing Tailored Strategies</h5>
                        <p class="text-muted mb-0">No one-size-fits-all solutions. Your strategy will be uniquely designed for your specific goals.</p>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-5 pt-4">
                <div class="features feature-primary text-center">
                    <div class="image position-relative d-inline-block">
                        <span class="bg-soft-primary rounded shadow text-primary display-4 p-3">
                            <i class="uil uil-building"></i>
                        </span>
                    </div>

                    <div class="content mt-4">
                        <h5>Understanding Your Business</h5>
                        <p class="text-muted mb-0">We'll immerse ourselves in your brand, products, target audience, and competitive landscape.</p>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-5 pt-4">
                <div class="features feature-primary text-center">
                    <div class="image position-relative d-inline-block">
                        <span class="bg-soft-primary rounded shadow text-primary display-4 p-3">
                            <i class="uil uil-process"></i>
                        </span>
                    </div>

                    <div class="content mt-4">
                        <h5>360° Solution Implementation</h5>
                        <p class="text-muted mb-0">We're not just service providers; we're your dedicated digital marketing team.</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-12 mt-5 text-center">
                <a [routerLink]="['/contactus']" class="btn btn-pills btn-primary">Ready to Grow Your E-commerce Brand?</a>
            </div>
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- How It Works End -->
